.contaddpro{

    background-color:white ;
    border-radius: 20px;
    margin-top: -49%;
    margin-left: 100px;
    padding: 30px;
   
    
}
.contaddpro .btngroup{
    margin-top: 20px;
}
.gridad{
    margin-left: 5.4%;
    margin-bottom: 180px;
}
.gridad .css-128fb87-MuiDataGrid-toolbarContainer{
    background-color: #FFFFFF;
}
.gridad .selectbtn{
    color: #01C7BE;
    height:38px;
    width:60%;
    margin-left: -30%;
}
.ajouterproduit h3{
    font-weight: bold;
text-align: center;
margin:50px;


}



  


 
